{% extends 'base_head.html' %}
{% load static %}

{% block page_css %}
  <!-- CSS Projeto -->
  {% include "includes/cssdefault.html" %}
{% endblock%}
{% block page_js %}
  {% include 'includes/jsdefault.html' %}
  <!-- JavaScript do projeto clientes-->
  <script src="{% static "js/crud_cliente.js" %}"></script>
  <!-- Javascript do projeto Chart estatisticas -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
{% endblock %}

{% block body %}
{% include 'includes/header.html' %}


  <!-- nav menu esquerdo -->
  <div>
    <div>
      {% include 'includes/nav.html' %}

      <!--Container Main-->

      <!-- modal Termos -->
      {% include 'includes/tos.html' %}

      <!-- Conteudo -->
      <main class="ms-sm-auto col-lg-12">
        <div class="table-responsive animate__animated animate__fadeInDown">
          <div class="content_estatisticas">

            <!-- box estatistias -->

            <div id="box">
              <div class="box_border_top animate__animated animate__fadeInDown">
                <img class="estatisticas_icons" src="assets/img/servicos.svg">
                <p class="box_border_bottom box_titulo">serviços realizados</p>
                <div class="box_border_meio"></div>
                <div id="box_border_bottom" class="estatisticas_titulo">
                  <p id="box_border_bottom" class="box_border_top">1</p>
                </div>
              </div>
            </div>

            <div id="box">
              <div class="box_border_top animate__animated animate__fadeInDown">
                <img class="estatisticas_icons" src="assets/img/lucro.svg">
                <p class="box_border_bottom box_titulo">faturamento mensal</p>
                <div class="box_border_meio"></div>
                <div id="box_border_bottom" class="estatisticas_titulo">
                  <p id="box_border_bottom" class="box_border_top">R$ 50,00</p>
                </div>
              </div>
            </div>

            <div id="box-clientes">
              <div class="box_border_top animate__animated animate__fadeInDown">
                <img class="estatisticas_icons" src="assets/img/clientes.svg">
                <p class="box_border_bottom box_titulo">clientes cadastrados</p>
                <div class="box_border_meio"></div>
                <div id="box_border_bottom" class="estatisticas_titulo">
                  <p id="box_border_bottom" class="box_border_top">1</p>
                </div>
              </div>
            </div>

          </div>

          <div class="content-central">

            <div class="content">
              <p class="h5 mb-3">Estatísticas mensais:</p>
              <div class="p-3">
                <canvas id="estatisticasChart"></canvas>
              </div>
            </div>

              <!-- chart-estatisticas -->
              <script type="text/javascript" src="{% static 'js/estatisticas/chart-estatisticas.js' %}"></script>

            </div>


          </div>

      </main>
    </div>
  </div>
</body>
{% include 'includes/footer.html' %}
</div>
</div>
{% endblock %}