{% load static %}
<style type="text/css">
    table.dataTable thead .sorting {
        background: url("{% static "img/sort_both.png" %}") no-repeat center right;
    }
    table.dataTable thead .sorting_asc {
        background: url("{% static "img/sort_asc.png" %}") no-repeat center right;
    }
    table.dataTable thead .sorting_desc {
        background: url("{% static "img/sort_desc.png" %}") no-repeat center right;
    }
    table.dataTable thead .sorting_asc_disabled {
        background: url("{% static "img/sort_asc_disabled.png" %}") no-repeat center right;
    }
    table.dataTable thead .sorting_desc_disabled {
        background: url("{% static "images/sort_desc_disabled.png" %}") no-repeat center right;
    }
    .fatura-icone {
        background: url("{% static "img/fatura-icone.png" %}") no-repeat;
    }
    .add-fatura-icone {
        background: url("{% static "img/add-fatura-icone.png" %}") no-repeat;
    }
</style>