<footer id="footer" class="border-top">
    <div class="align-items-center animate__animated animate__fadeIn">
      <span>
        <a class="github bi-github" href="https://github.com/echo-noise/carro-limpo">
        </a> Sistema administrativo para lava rápido - Carro Limpo | 2021
      </span>
      <div>
        <span type="button" class="desc_footer data-bs-toggle=" data-bs-toggle="modal" data-bs-target="#termosModal" data-bs-whatever="@mdo">Termo de uso</span>
      </div>
  </footer>
  </div>