<header class="header" id="header">
  <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
  <div class="search-bar mt-7">
    <form method="post" action={% url "search_all" %}>
      {% csrf_token %}
      <div class="input-field"> <input class="form-control search" type="search" name="q" required /> <button
          type="submit" class="btn-search"><i class="icone-search fa fa-search"></i></button> </div>
    </form>
  </div>
  <!--<div class="header_img"> <img src="assets/icons/perfil_img.png" alt=""> </div> -->
</header>