.table-wrapper {
  width: 100%;
  float: left;
  margin: 30px auto;
  background: hsla(0, 0%, 100%, 0.7);
  border-top: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 7px 9px 1px rgb(53 53 53 / 5%);
}

.table-title {
  padding-bottom: 10px;
}

.table-title h2 {
  margin: 6px 0 0;
  font-size: 22px;
}
.table-title .add-new {
  font-size: 14px;
  min-width: 100px;
}
.table-title .add-new i {
  margin-right: 6px;
}

.exportar-pdf {
  font-size: 14px;
  min-width: 100px;
  text-align: center;
  bottom: 13%;
  color: #fff;
  border: none;
  padding: 12px 29px;
  border-radius: 5px;
  outline: none;
}

.btn {
  padding-top: 9px;
  width: 100%;
  min-width: 142px;
  height: 38px;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  transition: 1s;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
  color: #fff;
}

.border-btn-pdf{
 width:226px;
 flex-direction: column;
 padding: 5px;
 border-radius: 5px;
 border: 1px solid #e3e3e3;
}

.btn-pdf {
  padding-top: 9px;
  width: 208.69px;
  min-width: 142px;
  height: 38px;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  align-items: center;
}

table.table tr th,
table.table tr td {
  border-color: #00000024;
}
table.table th i {
  font-size: 13px;
  margin: 0 5px;
  cursor: pointer;
}
table.table th:last-child {
  width: auto;
}
table.table td a {
  cursor: pointer;
  display: inline-block;
  margin: 0 5px;
  min-width: 24px;
}
table.table td a.add {
  color: #0093ce;
}
table.table td a.edit {
  color: #ffae00;
}
table.table td a.delete {
  color: #ff0000;
}
table.table td i {
  font-size: 19px;
}
table.table td a.add i {
  font-size: 24px;
  margin-right: -1px;
  position: relative;
  top: 3px;
}

.form-control-crud {
  height: 32px;
  line-height: 32px;
  width: 100%;
}

table.table .form-control {
  height: 32px;
  line-height: 32px;
  box-shadow: none;
  border-radius: 2px;
}
table.table .form-control.error {
  border-color: #f50000;
}
table.table td .add {
  display: none;
}

@media screen and (max-width: 340px) {
  .exportar-pdf {
    margin-top: 10px;
  }
}

@media screen and (max-width: 350px) {
  .table-title .add-new {
    font-size: 10px;
  }

  .table-title {
    width: 214px;
    margin-left: 0em;
  }
}

@media screen and (max-width: 600px) {
  
  .table-title {
    width: 269px;
  }
  .btn {
    width: 100%;
  }

.border-btn-pdf{
  width:100%;
 }
 
 .btn-pdf {
   width: 100%
 }

}
@media screen and (max-width: 1050px) {
  .table-wrapper {
    overflow-x: auto;
    width: 100%;
    float: left;
    margin: 30px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 7px 9px 1px rgb(53 53 53 / 5%);
  }
  tbody,
  td,
  tfoot,
  th,
  thead,
  tr {
    font-size: 12px;
  }

  .dataTables_wrapper .dataTables_info {
    font-size: 11px;
  }

  .dataTables_paginate {
    font-size: 11px;
  }

  .dataTables_filter {
    font-size: 11px;
  }

  .dataTables_length {
    font-size: 11px;
  }

  .exportar-pdf {
    font-size: 10px;
  }
}

@media screen and (max-width: 1330px) {
  .form-control-crud {
    width: 50%;
  }
}
