.text-center {
  text-align: inherit !important;
}

.profile-pic {
  color: transparent;
  transition: all 0.3s ease;
  position: relative;
  transition: all 0.3s ease;
}

input {
  display: none;
}

.img-perfil {
  position: absolute;
  object-fit: cover;
  width: circleSize;
  height: circleSize;
  box-shadow: shadow;
  border-radius: radius;
  z-index: 0;
}

.-label {
  cursor: pointer;
  height: circleSize;
  width: circleSize;
}

.font-admin-color {
  padding: 10px 10px 10px 10px;
  color: #ffffffee;
  background-color: rgb(3, 109, 196);
  align-items: center;
  text-transform: uppercase;
}

label {
  color: #000000ee;
}

.active-perfil {
  color: rgb(3, 109, 196);
  margin-bottom: -1 px;
  background: 0 0;
  border: 1 px solid transparent;
  border-top-left-radius: 0.25 rem;
  border-top-right-radius: 0.25 rem;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

.card-perfil {
  margin-top: 15px;
  flex-direction: row;
}
.nav-tabs .nav-link.active {
  color: rgb(3, 109, 196);
}

#imageUpload {
  display: none;
}

#profileImage {
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.13);
  padding: 5px;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 0%;
  border-bottom-right-radius: 10%;
}

#profile-container {
  width: 140px;
  height: 140px;
  overflow: hidden;
}

#profile-container img {
  width: 140px;
  height: 140px;
}

.save {
  float: right;
}

.titulo-tab {
  padding: 3px 0px 6px 12px;
  margin: 0px 0px 15px 0px;
  font-family: Nunito;
}

@media screen and (max-width: 700px) {
  .perfil {
    width: 100%;
    min-width: 300px;
  }
  .mx-auto {
    text-align: center;
  }

  .nav {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .usuarioinfo {
    flex: none;
    float: left;
  }

  
  .mx-auto {
    text-align: center;
  }
}

@media screen and (max-width: 575px) {
  .text-center {
    text-align: center !important;
  }

  .nav-pills {
    justify-content: center;
  }
}


@media (min-width: 992px) {
  .card-perfil {
    flex-direction: column;
  }

  .text-center {
    text-align: center !important;
  }
}
