.termosmodal {
  text-align: center;
}

.border-box {
  position: relative;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  padding: 8px;
}

.termosmodal {
  text-align: center;
}

.border-box {
  position: relative;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
  padding: 8px;
}

.thead {
  text-align: center;
  font-family: Nunito;
  text-transform: uppercase;
  font-weight: 400px;
  border-top-width: 1px;
  background: #1c6aadf5;
  color: rgb(255, 255, 255);
  font-size: 12px;
}

.search-bar {
  width: 100%;
}
.input-field {
  display: flex;
  /* width: 100%; */
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.search {
  height: 50px;
  width: 100%;
  background-color: #004b6e6e;
  border: 1px solid #005dbb;
  border-radius: 5px;
  color: #fff;
  position: relative;
  transition: 1.7s;
  opacity: 0.6;
}

.search:focus, .search:hover{
  background-color: #004b6e75;
  color: #fff;
  font-weight: 500;
  opacity: 1;
}

.placeholder-search {
  color: beige;
}

.btn-search {
  align-items: center;
  position: absolute;
  height: 40px;
  width: 100px;
  margin-right: 7px;
  border-radius: 5px;
  background: #51afff;
  color: #fff;
  border: none;
  transition: 1.0s;
  display: flex;
  opacity: 1;
  align-content: center;
  justify-content: center;
}
.btn-search:hover,  .btn-search:focus {
  color: #8fc1ff; 
  background-color: #005ba5;
  opacity: 1;
}

.icone-search{
  font-size: 1.1rem;
}

.icone{
  margin-right: 7px;
  font-size: 1rem;
}

.tbody {
  border-top-width: 1px;
  font-size: 13px;
  text-align: center;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

.animate__fadeIn {
  --animate-duration: 0.8s;
}

.animate__pulse {
  --animate-duration: 0.5s;
}

.animate__fadeInDown {
  --animate-duration: 1.3s;
}

.hr1 {
  border: 0;
  width: 100%;
  border-top: 1px solid rgb(175, 175, 175);
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
}

.navbar .form-control {
  padding: 0.75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.25);
}

.input-group-text {
  width: 90px;
  font-size: 14px;
}

.crud {
  text-transform: uppercase;
  text-align: center;
  /* margin: 0px 0px 0px 0px; */
}

.badge-soft-warning {
  background-color: rgb(248, 202, 85);
  color: #000000;
}

.badge-soft-primary {
  background-color: rgb(51 255 0 / 52%);
  color: #000000;
}

.badge {
  font-weight: 500;
  font-size: 12px;
}

.link {
  color: black;
}

.form-select {
  max-height: 46px;
  overflow: scroll;
  overflow-x: hidden;
  margin-top: 0px;
}

#footer {
  color: #444444c4;
  align-items: center;
  height: auto;
  text-align: center;
  width: 100%;
  margin: 30px auto;
  background: hsla(0, 0%, 100%, 0.7);
  border-top: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  font-size: 12px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 7px 9px 1px rgb(53 53 53 / 5%);
}

.github {
  padding-right: 10px;
  color: #444444ee;
  align-items: center;
}

.github:hover {
  color: #008cff;
}

.desc_footer {
  align-items: center;
  text-decoration: underline;
}

.content {
  width: 100%;
  float: left;
  margin: 30px auto;
  background: hsla(0, 0%, 100%, 0.9);
  border-top: 1px solid #dee2e6;
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  opacity: 80%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 7px 9px 1px rgb(53 53 53 / 5%);
}

.menu-content-responsivo {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  /* border: 1px solid #e3e3e3; */
}

@media print {
 
  body, html {
    width: 100%;
    height: auto;
}

hr{
  border-bottom: 1px solid #3f3f3f;
}

.modal-content {
  border: 1px solid rgba(0, 0, 0, 0); 
}

 .page {
    width: 100%;
    position: fixed;
    height:auto;
    overflow:auto;
    page-break-after: always;
    z-index: 100000;

  }
   
 .button-print-or-save-document, nav, header, .content, form, footer, .card, .btn-close  {
  display: none !important;
  }
}

.col-lg-auto {
  flex: 0 0 auto;
  min-width: 250.7px;
}


@media (max-width: 991px) {
  
  
  .col-lg-auto {
    flex: 0 0 auto;
    width: 100%;
  }

  .clientes, .faturas, .servicos{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .limpar-atribuir {
    border-radius: 5px;
    /* border: 1px solid #e3e3e3; */
    width: 100%;
    /* margin-right: 15px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .abrir-fechar-caixa {
    border-radius: 5px;
    /* border: 1px solid #e3e3e3; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .menu-content-responsivo {
    display: flex;
    flex-direction: column;
    border: 0px solid #e3e3e3;
    /* border-radius: 5px; */
    align-items: center;
  }

.separar {
  margin-right: 15px;
}
}

@media screen and  (max-width: 767px){
  .search {
    height: auto;
  }
  .btn-search{
    padding-left: 5px;
    height: 27px;
    width: 50px;
    margin-top: 1px;
    margin-right: 5px;
    }

    .icone-search{
      font-size: 0.9rem;
    }

  
}

@media screen and (max-width: 600px) {
  #footer {
    text-align: center;
    padding: 20px;
    font-size: 11px;
  }

  .search {
    height: auto;
  }

  .menu-content-responsivo {
    display: flex;
    flex-direction: column;
    border: 0px solid #e3e3e3;
  }

  .clientes, .faturas, .servicos{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  .separar {
    margin-right: 0px;
  }

  .limpar-atribuir {
    border: 0px solid #e3e3e3;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;  
    align-items: stretch;
  }

  .abrir-fechar-caixa {
    border: 0px solid #e3e3e3;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }
}

.border-btn {
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #e3e3e3;
}

@media screen and (max-height:560px) {

  .btn-search{
    padding-left: 5px;
    height: 27px;
    width: 50px;
    margin-top: 1px;
    margin-right: 5px;
    }

    .icone-search{
      font-size: 0.9rem;
    }

    .search {
      height: auto;
    }
  /* ------*/
  
}

@media screen and (max-width: 535px) {
  tbody,
  td,
  tfoot,
  th,
  thead,
  tr,
  .badge {
    font-size: 10px;
  }

  .search {
    height: auto;
  }

  #footer {
    text-align: center;
    padding: 20px;
    font-size: 9px;
  }
}

i {
  margin-right: 2px;
}



@media screen and (max-width: 350px) {
  .crud {
    margin: 60px 0px 0px 0px;
  }
}

