{% extends "base_head.html" %}
{% load static %}
{% block title %} | Clientes {% endblock %}
{% block page_css %}  
  {% include 'includes/cssdefault.html' %}
{% endblock %}

{% block page_js %}
  {% include 'includes/jsdefault.html' %}
  <!-- JavaScript do projeto clientes-->
  <script src="{% static "js/crud_cliente.js" %}"></script>
  <!-- ajax -->
  <script type="text/javascript" src="{% static "js/ajax.js" %}"></script>
{% endblock %}

{% block body %}
<body id="body-pd" class="body-pd2">

  <!-- header -->
  {% include "includes/header.html" %}
  
  <div>
    <!-- nav menu esquerdo -->
    {% include "includes/nav.html" %}
    <!--Container Main-->

    <!-- modal Termos -->
    {% include "includes/tos.html" %}

    <!-- Conteudo -->
    <main class="ms-sm-auto col-lg-12">
      <div class="table-responsive animate__animated animate__fadeInDown">
        <div class="animate__fadeInDown content">


          <div class="row flex-lg-nowrap">
            <div class="col-12 col-lg-auto mb-3 perfil">

              <div class="clientes">
                <div class=" separar w-100 border-btn p-2 mb-3">
                  <div class="e-navlist e-navlist--active-bg">
                    <button type="button" class="btn btn-primary btn-sm add-new">
                      <i class="icone fas fa-user"></i> Novo Cliente</button>
                  </div>
                </div>
                <div class="w-100 border-btn p-2 mb-3">
                  <div class="e-navlist e-navlist--active-bg">
                    <button id="pdf" class="  btn btn-secondary btn-sm ">
                      <i class="icone fas fa-file-pdf" style="font-size: 1.4em"></i> PDF</button>
                  </div>
                </div>

              </div>
            </div>




            <div class="col">
              <div class="row">
                <div class="col mb-3">
                  <div class="border-box p-3">

                    <div class="card-body">
                      <div>
                        <div class="p-2 row">
                          <table id="tabcliente" class="crud table exportar animate__animated animate__fadeInDown table-bordered table-hover table-striped table-responsive no-footer border-box">
                            <thead class="thead">
                              <tr>
                                <th scope="col">Nome</th>
                                <th scope="col">Telefone</th>
                                <th scope="col">E-mail</th>
                                <th scope="col">CPF/CNPJ</th>
                                <th scope="col">Placa</th>
                                <th scope="col">Marca</th>
                                <th scope="col">Modelo</th>
                                <th scope="col">Cor</th>
                                <th class="acoes" scope="col">Ações</th>
                              </tr>
                            </thead>
                            <tbody class="tbody">
                              {% for cliente in clientes %}
                              <tr data-id={{ cliente.id }}>
                                <td id="td-header" data-label="NOME">{{ cliente.nome }}</td>
                                <td data-label="TELEFONE">{{ cliente.telefone }}</td>
                                <td data-label="E-MAIL">{{ cliente.email }}</td>
                                <td data-label="CPF/CNPJ">{{ cliente.documento }}</td>
                                <td data-label="PLACA">{{ cliente.placa }}</td>
                                <td data-label="MARCA">{{ cliente.marca }}</td>
                                <td data-label="MODELO">{{ cliente.modelo }}</td>
                                <td data-label="COR">{{ cliente.cor }}</td>
                                <td data-label="AÇOES">
                                  <div class="acoes-align">
                                    <a class="add" title="Salvar" data-toggle="tooltip"><i class="material-icons" >&#xE03B;</i></a>
                                    <a class="edit" title="Editar" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                                    <a class="delete" title="Apagar" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                                  </div>
                                </td>
                              </tr>
                              {% endfor %}
                              </tfoot>
                            </tbody>
                          </table>


                          <script>
                            $(document).ready(function () {
                              $('#tabcliente').DataTable();
                            });
                          </script>

                          <!-- Exportar pdf -->
                          {% include 'includes/export_pdf.html' %} 

                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
{% include "includes/footer.html" %}
</div>
{% endblock %}