{% extends "base_head.html" %}
{% load static %}
{% block body %}
<body id="body-pd">
    <!-- header -->
    <header class="header"
      id="header">
      <div class="header_toggle "> <i class='bx bx-menu ' id="header-toggle"></i> </div>
       <!--<div class="header_img"> <img src="assets/icons/perfil_img.png" alt=""> </div> -->
    </header>
    <!-- nav menu esquerdo -->
    <div>
      <div>
        <div class="l-navbar" id="nav-bar">
          <p><img class="nav_logo" src="{% static "img/carrolimpo_versao_compacta.png" %}"></p>
          {% url "home" as home_url %}
          {% url "clientes" as clientes_url %}
          <nav class="nav sidebar-nav">

            <div>
              <div class="nav_list"><a href="{% url "home" %}" class="nav_link {% if request.path == home_url %} active {% endif %}"> <i class='bx
                    bi-house-door-fill nav_icon'></i> <span class="nav_name">Principal</span>
                </a>
                <a href="#" class="nav_link"> <i class='bx bx-barcode-reader nav_icon'></i>
                  <span class="nav_name">Faturas</span></a>

                <a href="{% url "clientes" %}" class="nav_link {% if request.path == clientes_url %} active {% endif %}">
                  <i class='bi bi-people-fill nav_icon'></i>
                  <span class="nav_name">Clientes</span></a>

                <a href="#" class="nav_link">
                  <i class='bi bi-stack nav_icon'></i>
                  <span class="nav_name">Transações</span></a>

                <a href="#" class="nav_link">
                  <i class='bx bxs-cart nav_icon'></i>
                  <span class="nav_name">Caixa</span></a>

                <a href="#" class="nav_link">
                  <i class='bi bi-gear-fill nav_icon'></i>
                  <span class="nav_name">Administrador</span>
                </a>
              </div>
              <a href="{% url 'logout' %}" class="nav_link"> <i class='bi bi-door-open-fill nav_icon'></i>
                <span class="nav_name">Sair</span> </a>
            </nav>
          </div>
          <!--Container Main-->
          <!-- Conteudo -->
          <main class="ms-sm-auto col-lg-12 px-md-4">
            <div class="table-responsive">
              <div class="table-wrapper">
                <div class="table-title">
                  <div class="row">
                    <div class="col-sm-8"><h1 class="h5">{% block titulo %} {% endblock %}</h1></div>
                    {% block subdiv %}
                    {% endblock %}
                  </div>
                </div>
              {% block tabela %}
              {% endblock %}
              </div>
            </div>
          </main>

          <!-- JavaScript do projeto sidebar-->
          <script src="{% static "js/sidebar_menu.js" %}"></script>
          {% block scripts %} {% endblock %}
        </div>
      </div>
    </body>
    {% endblock %}