{% extends "base_head.html" %}
{% load static %}

{% block page_css %}
  <link rel="stylesheet" href="{% static "css/login_page.css" %}">
  <link rel="stylesheet" href="{% static "css/recovery_page.css" %}">
{% endblock %}

{% block body %}
<body>
   <!-- modal Termos -->
   {% include "includes/tos.html" %}
  <main class="formulario">
    <div class="content_rec">
      <form class="needs-validation" novalidate method="post">
        <img class="logo" src="{% static "img/carrolimpo_versao_compacta.png" %}">
        <h1 class="h6 mb-3 fw-normal">Insira sua nova senha</h1>

        {% csrf_token %}


        <div class="form-floating">
          <input type="password" name="new_password1" class="form-control" id="Senha" placeholder="Usuário" autocomplete="off" required>
          <div class="invalid-feedback">
            Preencha este campo!
          </div>
          <div class="valid-feedback">
            Campo preenchido!
          </div>
          <label for="floatingInput">Senha</label>
        </div>
        <div class="form-floating">
          <input type="password" name="new_password2" class="form-control" id="Repetir senha" placeholder="Senha" autocomplete="off" required>
          <div class="invalid-feedback">
            Preencha este campo!
          </div>
          <div class="valid-feedback">
            Campo preenchido!
          </div>
          {% if form.errors %}
            <div style="color: red;">
              {% for key, value in form.errors.items %}
                <strong>{{ value }}</strong>
              {% endfor %}
            </div>
          {% endif %}
          <label for="floatingPassword">Repetir senha</label>
        </div>
          <button class="login-button w-100 btn btn-lg btn-primary" type="submit">Salvar</button>
      </form>
      <footer id="footer" class="mt-5 border-top">
        <div class="align-items-center animate__animated animate__fadeIn">
          <span>
            <a class="github bi-github" href="https://github.com/echo-noise/carro-limpo">
            </a> Sistema administrativo para lava rápido - Carro Limpo | 2021
          </span>
          <div>
            <span type="button" class="desc_footer data-bs-toggle=" data-bs-toggle="modal" data-bs-target="#termosModal" data-bs-whatever="@mdo">Termo de uso</span>
          </div>
      </footer>
      <p class="mt-1 mb-1 text-muted">Usuário: carro_limpo / Senha: admin0000</p>
    </div>

    </div>
  </main>
  <!-- JS Projeto -->
  <script src="{% static "js/validador.js" %}"></script>
</body>
{% endblock %}
